{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='flight_grid.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flight_grid.css') }}">
{% endblock %}
{% block body %}
<h1>FLIGHT GRID</h1>
<table>
    <tr>
        <th>Friend</th>
        {% for date_pair in date_pairs %}
            <th class="date-headers">{{date_pair[0]}} - {{date_pair[1]}}</td>
        {% endfor %}
    </tr>
    {% for friend in friends %}
        <tr data-airport={{friend['airport']}}>
            <td class="name">{{ friend['name'] }}  &ndash; {{friend['airport']}}</td>
            {% for date_pair in date_pairs %}
                <td class="price" data-index={{loop.index - 1}}></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<div id="airport-codes" style="display:none;">
{% for airport in airports %}
    <span>{{airport}}</span>
{% endfor %}
</div>
{% endblock %}